.footer {
  width: 100%;
  padding: 60px 0 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
  gap: 50px;
  &__quote-line {
    display: flex;
    font-size: 24px;
    font-weight: 500;
    gap: 4px;
  }
}

// Media query pour des écrans plus petits
@media (max-width: 768px) {
  .footer {
    gap: 20px;
    &__quote-line {
      flex-direction: column;
      align-items: center;
      font-size: 12px;
      gap: 4px;
    }
  }
}
