* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', serif;
}

body {
  max-width: 1440px;
  min-width: 375px;
  height: 100vh;
  margin: auto;
}

main {
  display: flex;
  justify-content: center;
}
