.banner {
  max-width: 1240px;
  width: 100%;
  height: 223px;
  border-radius: 25px;
  position: relative;
  &__title {
    font-size: 48px;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 35%;
    left: 20%;
  }
  &__img {
    width: 100%;
    height: 100%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    object-fit: cover;
    border-radius: 25px;
    filter: brightness(40%);
  }
}

// Media query pour des écrans plus petits
@media (max-width: 993px) {
  .banner {
    &__title {
      font-size: 36px;
      left: 15%;
    }
  }
}

@media (max-width: 767px) {
  .banner {
    height: 111px;
    border-radius: 10px;
    text-align: start;
    &__title {
      width: 230px;
      margin-top: 25px;
      font-size: 24px;
      top: 5%;
      left: 3%;
    }
    &__img {
      height: 111px;
      border-radius: 10px;
    }
  }
}
